body {
  background-color: #fafafa;
  color: #333;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
a {
  text-decoration: none;
  color: #333;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

body {
  line-height: 1.6;
  overflow-x: hidden;
  width: 100%;
}
